<div class="surface-ground flex align-items-center justify-content-center overflow-hidden pt-4">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
                    <span class="text-600 font-medium">Ingresa para continuar</span>
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
                    <div>
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email1" type="text" placeholder="Email address" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="email">

                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <p-password id="password" placeholder="Password" [toggleMask]="true" [feedback]="false" styleClass="mb-5"
                            inputStyleClass="p-3 w-20rem lg:w-30rem" formControlName="password"
                            class="w-full"></p-password>

                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <div class="flex align-items-center">
                                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)">Forgot password?</a>
                        </div>
                        <button pButton pRipple label="" class="w-full p-3 text-xl justify-content-center"
                            (click)="login()">Ingresar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- <p-dialog header="Error!" [(visible)]="visibleErrorMessage" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw'}" [draggable]="false" [resizable]="false" [contentStyle]="{'background-color': 'orangered'}">
    <p>
        Algo Salio mal, por favor intentalo de nuevo!. Si el problema persiste, contacta con el administrador.
    </p>
</p-dialog> -->

<p-dialog [(visible)]="visibleErrorMessage">
    <ng-template pTemplate="headless">
        <div class="flex flex-column px-8 py-5 gap-4 justify-content-center align-items-center"
            style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700))">

            <p class="text-xl text-black-alpha-90">
                Error!. Algo Salio mal, por favor intentalo de nuevo!. Si el problema persiste, contacta con el
                administrador.
            </p>
            <p-button label="Cerrar Mensaje" (click)="closeErrorMessage()" [text]="true"
                styleClass="w-full text-primary-50 border-3 border-white-alpha-70 hover:bg-white-alpha-10"
                class="w-15rem"></p-button>
        </div>
    </ng-template>
</p-dialog>