<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button pl-0 ml-0"
        (click)="layoutService.showMenu()">
        <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo"> -->
        <span>Fast Invoice - Empresa</span>
    </a>
    <p-button #topbarmenubutton class="layout-topbar-menu-button" severity="secondary"
        (click)="logOut()" label="Salir">
    </p-button>

    <div #topbarmenu class="layout-topbar-menu">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
        <p-button label="Salir" severity="secondary" (click)="logOut()"></p-button>
    </div>
</div>