<p-table [value]="invoices" [tableStyle]="{'min-width': '40rem'}" [paginator]="true" [rows]="5"
    [showCurrentPageReport]="false">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <span class="text-xl">Facturas</span>
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nro Factura</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Rif</th>
            <th class="w-5rem">&nbsp;</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice let-columns="columns">
        <tr>
            <td>{{invoice.number}}</td>
            <td>{{invoice.date_bill}}</td>
            <td>{{invoice.total | currency:'USD'}}</td>
            <td>{{invoice.rif}}</td>
            <td class="w-5rem">
                <div class="flex align-items-center justify-content-end gap-3">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedInvoice(invoice)"></button>
                    <button pButton pRipple icon="pi pi-eye" class="p-button-success"
                        (click)="deleteSelectedInvoice(invoice)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
<br>
<app-companies-list></app-companies-list>