<p-table [value]="companies" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Compañias
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nombre</th>
            <th>Rif</th>
            <th>Dirección</th>
            <th>Telefono</th>
            <!-- <th>Status</th> -->
            <!-- <th>Reviews</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.rif}}</td>
            <td>{{product.address}}</td>
            <td>{{product.phone}}</td>
            <!-- <td><p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td>
            <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
        </tr>
    </ng-template>
</p-table>
